In [7]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
df=pd.read_csv("DATA.csv")
df.head()

,Date,Open,High,Low,Close,Volume,SMA,SD,Upper_Band,Lower_Band,...,EMA26,MACD,signalline,RSI,%K,%D,H-L,H-PC,L-PC,ATR
0,2022-01-03,17387.150391,17646.650391,17383.300781,17625.699219,200500,NaN,NaN,NaN,NaN,...,17625.699219,0.000000,0.000000,NaN,NaN,NaN,263.349609,NaN,NaN,NaN
1,2022-01-04,17681.400391,17827.599609,17593.550781,17805.250000,247400,NaN,NaN,NaN,NaN,...,17638.999277,14.323139,2.864628,NaN,NaN,NaN,234.048828,201.900391,32.148438,NaN
2,2022-01-05,17820.099609,17944.699219,17748.849609,17925.250000,251500,NaN,NaN,NaN,NaN,...,17660.203034,34.954395,9.282581,NaN,NaN,NaN,195.849609,139.449219,56.400391,NaN
3,2022-01-06,17768.500000,17797.949219,17655.550781,17745.900391,236500,NaN,NaN,NaN,NaN,...,17666.550986,36.413052,14.708675,NaN,NaN,NaN,142.398438,127.300781,269.699219,NaN
4,2022-01-07,17797.599609,17905.000000,17704.550781,17812.699219,239300,NaN,NaN,NaN,NaN,...,17677.376781,42.469593,20.260859,NaN,NaN,NaN,200.449219,159.099609,41.349609,NaN

In [20]:
def signal_bollinger(df):
    df['BB_SIGNAL'] = 0
    df.loc[df['Close'] < df['Lower_Band'], 'BB_SIGNAL'] = 1  # Buy
    df.loc[df['Close'] > df['Upper_Band'], 'BB_SIGNAL'] = -1 # Sell
    print('Bollinger Bands buy signals:', (df['BB_SIGNAL'] == 1).sum())
    print('Bollinger Bands sell signals:', (df['BB_SIGNAL'] == -1).sum())
    return df
def signal_macd(df):
    df['MACD_SIGNAL_FLAG'] = 0
    df.loc[df['MACD'] > df['signalline'], 'MACD_SIGNAL_FLAG'] = 1
    df.loc[df['MACD'] < df['signalline'], 'MACD_SIGNAL_FLAG'] = -1
    print('MACD buy signals:', (df['MACD_SIGNAL_FLAG'] == 1).sum())
    print('MACD sell signals:', (df['MACD_SIGNAL_FLAG'] == -1).sum())
    return df
def signal_rsi(df, overbought=70, oversold=30):
    df['RSI_SIGNAL'] = 0
    df.loc[df['RSI'] < oversold, 'RSI_SIGNAL'] = 1
    df.loc[df['RSI'] > overbought, 'RSI_SIGNAL'] = -1
    print('RSI buy signals:', (df['RSI_SIGNAL'] == 1).sum())
    print('RSI sell signals:', (df['RSI_SIGNAL'] == -1).sum())
    return df
def signal_stochastic(df, overbought=80, oversold=20):
    df['STOCH_SIGNAL'] = 0
    df.loc[(df['%K'] < oversold)&(df['%K']>df['%D']), 'STOCH_SIGNAL'] = 1
    df.loc[(df['%K'] > overbought)&(df['%K']<df['%D']), 'STOCH_SIGNAL'] = -1
    print('Stochastic buy signals:', (df['STOCH_SIGNAL'] == 1).sum())
    print('Stochastic sell signals:', (df['STOCH_SIGNAL'] == -1).sum())
    return df
def signal_atr(df, threshold=1.5):
    df['ATR_SIGNAL'] = 0
    df.loc[df['ATR'] > threshold, 'ATR_SIGNAL'] = 1
    print('ATR high volatility signals:', (df['ATR_SIGNAL'] == 1).sum())
    return df
def signal_vwap(df):
    df['VWAP_SIGNAL'] = 0
    df.loc[df['Close'] > df['VWAP'], 'VWAP_SIGNAL'] = 1
    df.loc[df['Close'] < df['VWAP'], 'VWAP_SIGNAL'] = -1
    print('VWAP buy signals:', (df['VWAP_SIGNAL'] == 1).sum())
    print('VWAP sell signals:', (df['VWAP_SIGNAL'] == -1).sum())
    return df

In [21]:
df=signal_bollinger(df)
df=signal_macd(df)
df=signal_rsi(df)
df=signal_stochastic(df)
df=signal_atr(df)
df=signal_vwap(df)
df.head()

Bollinger Bands buy signals: 28
Bollinger Bands sell signals: 38
MACD buy signals: 357
MACD sell signals: 380
RSI buy signals: 45
RSI sell signals: 180
Stochastic buy signals: 24
Stochastic sell signals: 94
ATR high volatility signals: 725
VWAP buy signals: 613
VWAP sell signals: 125

,Date,Open,High,Low,Close,Volume,SMA,SD,Upper_Band,Lower_Band,...,H-L,H-PC,L-PC,ATR,BB_SIGNAL,MACD_SIGNAL_FLAG,RSI_SIGNAL,STOCH_SIGNAL,ATR_SIGNAL,VWAP_SIGNAL
0,2022-01-03,17387.150391,17646.650391,17383.300781,17625.699219,200500,NaN,NaN,NaN,NaN,...,263.349609,NaN,NaN,NaN,0,0,0,0,0,1
1,2022-01-04,17681.400391,17827.599609,17593.550781,17805.250000,247400,NaN,NaN,NaN,NaN,...,234.048828,201.900391,32.148438,NaN,0,1,0,0,0,1
2,2022-01-05,17820.099609,17944.699219,17748.849609,17925.250000,251500,NaN,NaN,NaN,NaN,...,195.849609,139.449219,56.400391,NaN,0,1,0,0,0,1
3,2022-01-06,17768.500000,17797.949219,17655.550781,17745.900391,236500,NaN,NaN,NaN,NaN,...,142.398438,127.300781,269.699219,NaN,0,1,0,0,0,1
4,2022-01-07,17797.599609,17905.000000,17704.550781,17812.699219,239300,NaN,NaN,NaN,NaN,...,200.449219,159.099609,41.349609,NaN,0,1,0,0,0,1